/* media quries start here */


@media screen and (max-width: 1170px) {

    body {
        background-color: #e6e6e6;
        
    }
    header {
        flex-direction: column-reverse;
        align-items: center;
        overflow-y: scroll;
        height: 100%;
    }

    #nav-menu-vis, #nav-menu-hid {
        width: 100vw;
    }

    .nav-items {
        display: flex;
        justify-content: space-around;
        width: 90vw;
        margin: 10px 0 10px 10px;
    }    

    #menu-button {
        margin: 10px 0 10px 10px;
        width: 30px;
    }

    .left-side {
        width: 100vw;
        height: 100%;
    }

    .koan-content {
        margin: 0 10vw;
    }

    h1 {
        font-size: 2em;
        margin-top: 40px;
    }

    #koan-text {
        font-size: 1em;
        margin-top: 60px;
    }

    .right-side {
        margin-top: 80px;
        width: 80vw;
    }

    .right-cover {
        width: 80vw;
        height: 50vh;
        animation: moveUpFade 1s ease-in-out;
    }

    #theme-changer-vis, #theme-changer-out, #about-section-vis, #about-section-out{
        width: 40vw;
    }
    #about-content {
        width: 25vw;
    }
}


@media screen and (max-width:800px) {

    #koan-text {
        font-size: 1em;
    }

    #theme-changer-vis, #theme-changer-out, #about-section-vis, #about-section-out {
        width: 50vw;
    }
    #about-content {
        width: 35vw;
    }
}

@media screen and (max-width:550px) {

    .right-side {
        margin-top: 80px;
        width: 75vw;
    }

    .right-cover {
        width: 75vw;
        height: 30vh;
    }
    
    .koan-content {
        margin: 0 15vw;
    }

    .nav-items a{
        font-size: 0.8em;
    }

    #theme-changer-vis, #theme-changer-out, #about-section-vis, #about-section-out{
        width: 75vw;
    }

    #theme-boxes, #about-content{
        width: 60vw;
        margin-top: 15vh;
    }
    #font-size-changer {
        width: 60vw;
        margin-top: 15vh;
    }
    #about-content img{
        width: 20px;
        height: auto;
    }
    #about-content div, a{
        font-size: 00.8em;
    }
}